@media (max-width: 1100px) {
  #order_detai {

   overflow: scroll;
    /*background: #395C82;*/
    /*background: #00ff00;*/
  }
}


#page-wrapper {
  background-color: #F1F1F1 !important;
}



.product_image {

width: 200px !important;
height: 100px !important;


}

#admin_sidebar .form-group {

background-color: #F1F1F1;
padding: 8px;

}

#admin_sidebar .form-group hr {

margin-top: 10px;
margin-bottom: 10px;


}

#admin_sidebar .btn{

width: 49%;

}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}




